body {
    margin:0;
    font-family: 'Poppins', sans-serif;
}

nav {
    height: 70px;
    display: flex;
    padding: 20px 36px;
    box-shadow: 0px 3px 7px rgba(0, 0, 0, 0.1);
}
.logo {
    max-width: 150px;
}

section {
    padding: 20px;
    .hero-header {
        margin-bottom: 16px;
    }
    .hero-text {
        margin-top: 0px;
    }
}
.gray {
    color: #918E9B;
}
.bold {
    font-weight: bold;
}
.card-list {
    display:flex;
    gap: 18px;
}
.card {
    width: 175px;
    font-size: 12px;
    flex-direction: column;
    .card-badge {
        position: absolute;
        margin: 10px;
        background-color: white;
        padding: 5px 7px;
        border-radius: 2px;
        font-weight: bold;
    }
    .card-image {
        width: 100%;
        height: 235px;
        border-radius: 9px;
    }
    .card-stats {
        display: flex;
        align-items: center;
        .card-star {
            color: #FE395C;
        }
    }
}