body {
    margin: 0;
    font-family: "Karla", sans-serif;
    color: #FFFFFF;
    font-style: normal;
    font-size: 12px;
}

header {
    height: 65px;
    padding: 20px;
    background: linear-gradient(90deg, #672280 1.18%, #A626D3 100%);
    display: flex;
    align-items: center;
    .header-image {
        width: 31px;
        height: 26px;
        margin-right: 6px;
    }
    .header-title {
        font-weight: 700;
        font-size: 20px;
        line-height: 24px;
        letter-spacing: -0.1em;
        margin-right: auto;
    }
    .header-subtitle {
        font-family: 'Inter', sans-serif;
        font-weight: 500;
        line-height: 15px;
        text-align: right;
    }
}
main {
    padding: 36px;
}
.form {
    display: grid;
    grid-template: 40px 40px / 1fr 1fr;
    gap: 17px;
    .form-input {
        font-family: 'Karla';
        border: 1px solid #D5D4D8;
        border-radius: 5px;
        text-indent: 5px;
    }
    .form-button {
        grid-column: 1 / -1;
        background: linear-gradient(90.41deg, #711F8D 1.14%, #A818DA 100%);
        border-radius: 5px;
        font-family: 'Karla';
        font-weight: 700;
        font-size: 16px;
        letter-spacing: -0.1em;
        color: #FFFFFF;
        border: none;
        cursor: pointer;
    }
}

.meme-text {
    color: red;
}